.wrapper {
  width: 480px;
  background-color: #eee;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.img {
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 270px;
  line-height: 0;
}
